In [1]:
# set working directory to same place ass app.py to import programs the same way as the app
import os
current_directory = os.getcwd()
if 'notebooks' in current_directory:
    parent_directory = os.path.abspath(os.path.join(current_directory, os.pardir))
    os.chdir(parent_directory)
os.getcwd()

'/Users/elisealstad/code/womens-prize-for-fiction-data/scripts'

In [1]:
# Improt packages
import pandas as pd
import json 

# Import functions from apps folder
from dags.dag_etl import get_wikidata
from dags.dag_etl import get_book_topics
from scripts.transform_data import transform_books
from scripts.transform_data import transform_topics

# Importing Womens price for fiction books WPF

In [2]:
# URL of the Wikipedia page

books = get_wikidata()
books.head()

   Year               Author                     Title    Result
0  2020     Maggie O'Farrell                    Hamnet    Winner
1  2020           Angie Cruz                Dominicana  Finalist
2  2020  Bernardine Evaristo        Girl, Woman, Other  Finalist
3  2020       Natalie Haynes          A Thousand Ships  Finalist
4  2020        Hilary Mantel  The Mirror and the Light  Finalist

In [3]:
books.Year.unique()

array(['2020', '2021', '2022', '2023', '2024', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '1996', '1997', '1998', '1999'], dtype=object)

In [4]:
transform_books(books)

    Year               Author                          Title     Result
0   2020     Maggie O'Farrell                         Hamnet     Winner
1   2020           Angie Cruz                     Dominicana   Finalist
2   2020  Bernardine Evaristo             Girl, Woman, Other   Finalist
3   2020       Natalie Haynes               A Thousand Ships   Finalist
4   2020        Hilary Mantel       The Mirror and the Light   Finalist
..   ...                  ...                            ...        ...
19  1999      Julia Blackburn         The Leper's Companions  Shortlist
20  1999     Marilyn Bowering                 Visible Worlds  Shortlist
21  1999        Jane Hamilton  The Short History of a Prince  Shortlist
22  1999   Barbara Kingsolver           The Poisonwood Bible  Shortlist
23  1999        Toni Morrison                       Paradise  Shortlist

[174 rows x 4 columns]

In [5]:
# Collect topics for each book
book_topics = get_book_topics(books)

Error occurred for title: A Gate at the Stairs, author: Lorrie Moore

In [6]:
transform_topics(book_topics)

          Book                         Topic
0       Hamnet            english literature
1       Hamnet                       fiction
1       Hamnet                    historical
2       Hamnet                  biographical
5       Hamnet     new york times bestseller
...        ...                           ...
2537  Paradise           afronorteamericanos
2538  Paradise                        novela
2539  Paradise       comunas (contracultura)
2540  Paradise   mujeres afronorteamericanas
2541  Paradise  familias afronorteamericanas

[2587 rows x 2 columns]

In [7]:
book_topics

          Book                                 Topic
0       Hamnet                    English literature
1       Hamnet                   Fiction, historical
2       Hamnet                 Fiction, biographical
3       Hamnet                               fiction
4       Hamnet      nyt:hardcover-fiction=2020-12-27
...        ...                                   ...
2541  Paradise          Familias afronorteamericanas
2542  Paradise                     African americans
2543  Paradise  African americans--oklahoma--fiction
2544  Paradise    Communal living--oklahoma--fiction
2545  Paradise              Women--oklahoma--fiction

[2546 rows x 2 columns]